<table class="table-default card">
    <thead>
      <tr>
        <th class="drag-container">
          Order
        </th>
        <th>Id</th>
        <th>Resource Topics (Categories)</th>
        <th>New</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody
      cdkDropList
      class="drag-list"
      (cdkDropListDropped)="drop($event)"
    >
      <tr
        class="example-box"
        *ngFor="let element of topics; let i = index"
        cdkDrag
      >
        <td *ngIf="selectedType != 'DRAFT'" class="drag">
          <svg
            aria-hidden="true"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <use xlink:href="assets/sprites/ui.svg#drag"></use>
          </svg>
        </td>
        <td class="id-col">
          {{ element.id }}
        </td>
        <td class="resource-topic">
          {{ element.name }}
        </td>
        <td *ngIf="selectedType != 'DRAFT'">
          <mat-icon *ngIf="element.is_new" class="new-icon"
            >check_circle_outline</mat-icon
          >
        </td>
        <td>
            {{ element.status }}
        </td>
      </tr>
    </tbody>
  </table>